<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>

<body>
    <h1>Edit your comment</h1>
    <form method="POST" action="/comments/<%= id %>?_method=PATCH">
        <p>
            <label for="newComment">Make your changes:</label>
            <textarea name="newComment" id="newComment" cols="25" rows="3"><%= comment %></textarea>
        </p>
        <button type="submit">Update</button>
    </form>
    <a href="/comments">View Comments</a>
</body>

</html>