<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indexed Comments</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for (let item of comments) { %>
            <li>
                <%= item.comment %> - <%= item.username %> - <a href="/comments/<%= item.id %> ">details</a>
            </li>
            <% } %>
    </ul>
    <a href="/comments/new">Post a new comment</a>
</body>

</html>