<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>

<body>
    <h1>Log in an existing user</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="user[username]" id="username" placeholder="toma_hawk">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password" placeholder="***...">
        </div>
        <button type="submit">Log In</button>
    </form>
</body>

</html>